//Variables and Miscellaneous Stylistic Junk
$Brain-Flix-Black: #323232;
$Brain-Flix-Dark-Black: #000000;
$Brain-Flix-Blue: #0095ff;
$Brain-Flix-Dark-Blue: #0065ad;
$Silver: #afafaf;
$Mercury: #e1e1e1;
$White: #ffffff;
$Alabaster: #fafafa;
//Screen-Sizes
$tablet-lower: 768px;
$tablet-higher: 1279px;
$desktop-lower: 1280px;

html {
  font-family: Avenir Next;
  color: $Brain-Flix-Black;
  font-size: 13px;
}
//Component Styling

//Header Elements
.logoContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 16px;
}
.searchSectionContainer {
  display: flex;
  flex-flow: row wrap;
  height: 80px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  .searchSection {
    display: flex;
    flex-direction: row;
    border: solid 1px $Silver;
    width: 75%;
    margin: 16px 0 16px 16px;
    padding: 8px;
    .searchBar {
      border: none;
      outline: none;
      margin: 0;
    }
  }
}
.mojahed {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 8px;
}
.uploader {
  display: flex;
  flex-flow: row wrap;
  background-color: $Brain-Flix-Blue;
  width: 75%;
  border-radius: 5px;
  height: 32px;
  display: flex;
  align-content: center;
  color: $White;
  margin: 0 auto;
  .uploaderContent {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;
    width: 75%;
    font-weight: 600;
  }
}

// .controls {
//     display: flex; flex-direction: row; justify-content: space-around; background-color: #323232; margin: 8px; border-radius: 5px;
// }

//Video Display
.videoSection {
  display: flex;
  flex-direction: column wrap;
  justify-content: center;
  align-content: center;
  margin: 16px;
}
//Video Info, Description, etc.
.bigContainer {
  padding: 0 16px 0 16px;
}
.videoDisplay {
  height: 100%;
  width: 100%;
}
.videoTitle {
  margin: 24px 0 16px 0;
  font-size: 24px;
  font-weight: 600;
}
.videoInfo {
  display: flex;
  flex-direction: row wrap;
  margin: 16px 0;
  .dateAndAuthor {
    width: 50%;
    .date {
      margin: 0;
      color: $Silver;
    }
    .author {
      margin: 0;
      font-weight: 600;
    }
  }
  .viewsAndLikes {
    width: 50%;
  }
  .viewContainer {
    width: 100%;
    .views {
      width: 70%;
      margin: 0 0 0 16px;
      display: inline-block;
      color: $Silver;
    }
  }
  .likeContainer {
    width: 100%;
    .likes {
      width: 70%;
      margin: 0 0 0 16px;
      display: inline-block;
      color: $Silver;
    }
  }
}
.icon {
  width: 16px;
}
.videoDescriptionSection {
  margin: 16px;
}
.videoDescription {
  margin: 0;
  text-align: justify;
  p {
    margin: 0;
  }
}
.amountOfComments {
  margin: 16px 0;
  font-weight: 700;
}
//New Comment Section
.newCommentSectionContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 16px;
}
.newCommentSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  form {
    display: inline-block;
    width: 80%;
  }
}
label {
  color: $Silver;
  margin: 16px 0;
  size: 12px;
  font-family: Avenir Next;
}
.imageContainer {
  display: inline-block;
  width: 20%;
  // padding: 16px;
}
.buttonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.textBox {
  width: 97.5%;
  height: 100px;
  font-family: Avenir Next;
  border-color: $Silver;
  border-radius: 5px;
}

.commentButton {
  background-image: url("../../src/assets/icons/add_comment.svg");
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  background-color: $Brain-Flix-Blue;
  color: $White;
  border: $Brain-Flix-Blue;
  border-radius: 5px;
  padding: 8px;
  font-weight: 400;
}
//Tablet Styles
@media (min-width: $tablet-lower) and (max-width: $tablet-higher) {
  html {
    font-size: 14px;
  }
}
