//Variables and Miscellaneous Stylistic Junk
$Brain-Flix-Black: #323232;
$Brain-Flix-Dark-Black: #000000;
$Brain-Flix-Blue: #0095FF;
$Brain-Flix-Dark-Blue: #0065AD;
$Silver: #AFAFAF;
$Mercury: #e1e1e1;
$White: #FFFFFF;
$Alabaster: #FAFAFA;
//Screen-Sizes
$tablet-lower: 768px;

html {font-family: AvenirNext;
  color: $Brain-Flix-Black;
}
//Component Styling

//This is for the Header Elements
.videoSection {
  background-image: url("https://i.imgur.com/l2Xfgpl.jpg");
  background-position: center; background-size: cover; width: 400px; height:300px; display: flex; flex-direction: column; justify-content: flex-end;
.controls {
    display: flex; flex-direction: row; justify-content: space-around; background-color: #323232; margin: 8px; border-radius: 5px;
}
}
.searchSection { display: flex; flex-direction: row; 
    .searchBar {border: solid $Silver 1px; border-radius: 5px;} 
}
.uploader { display: flex; flex-flow: row wrap;
    background-color: $Brain-Flix-Blue; width: 150px; border-radius: 5px; height: 32px; display: flex; align-content: center;
    color: $White; .uploaderContent {
        display: flex; flex-flow: row wrap; align-content: center; justify-content: space-evenly; width: 75%; font-weight: 600;
    }
}