html {
  font-family: Avenir Next;
  color: #323232;
  font-size: 13px;
}

.logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
}

.searchSectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 80px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.searchSectionContainer .searchSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: solid 1px #afafaf;
  width: 75%;
  margin: 16px 0 16px 16px;
  padding: 8px;
}
.searchSectionContainer .searchSection .searchBar {
  border: none;
  outline: none;
  margin: 0;
}

.mohan {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 8px;
}

.antiMohan {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 8px;
  display: none;
}

.uploader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #0095ff;
  border: #0095ff;
  width: 75%;
  border-radius: 5px;
  height: 32px;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #ffffff;
  margin: 0 auto;
}
.uploader .uploaderContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 75%;
  font-weight: 600;
}

.uploader:hover {
  background-color: #0065ad;
}

.videoSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column wrap;
          flex-direction: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 16px;
}

.bigContainer {
  padding: 0 16px 0 16px;
}

.videoDisplay {
  height: 100%;
  width: 100%;
}

.videoTitle {
  margin: 24px 0 16px 0;
  font-size: 24px;
  font-weight: 600;
}

.videoInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  margin: 16px 0;
}
.videoInfo .dateAndAuthor {
  width: 50%;
}
.videoInfo .dateAndAuthor .date {
  margin: 0;
  color: #afafaf;
}
.videoInfo .dateAndAuthor .author {
  margin: 0;
  font-weight: 600;
}
.videoInfo .viewsAndLikes {
  width: 50%;
}
.videoInfo .viewContainer {
  width: 100%;
}
.videoInfo .viewContainer .views {
  width: 70%;
  margin: 0 0 0 16px;
  display: inline-block;
  color: #afafaf;
}
.videoInfo .likeContainer {
  width: 100%;
}
.videoInfo .likeContainer .likes {
  width: 70%;
  margin: 0 0 0 16px;
  display: inline-block;
  color: #afafaf;
}

.icon {
  width: 16px;
}

.videoDescriptionSection {
  margin: 16px;
}

.videoDescription {
  margin: 0;
  text-align: justify;
}
.videoDescription p {
  margin: 0;
}

.amountOfComments {
  margin: 16px 0;
  font-weight: 700;
}

.newCommentSectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px;
}

.newCommentSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form {
  display: inline-block;
  width: 80%;
}

label {
  color: #afafaf;
  margin: 16px 0;
  size: 12px;
  font-family: Avenir Next;
}

.imageContainer {
  display: inline-block;
  width: 20%;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.textBox {
  width: 97.5%;
  height: 100px;
  font-family: Avenir Next;
  border-color: #afafaf;
  border-radius: 5px;
}

.commentButton {
  background-image: url("../../src/assets/icons/add_comment.svg");
  background-repeat: no-repeat;
  background-position: 16px;
  width: 100%;
  background-color: #0095ff;
  color: #ffffff;
  border: #0095ff;
  border-radius: 5px;
  padding: 8px;
  font-weight: 400;
}

.commentButton:hover {
  background-color: #0065ad;
}

.commentSection {
  margin: 16px;
}

.avatarContainer {
  width: 25%;
}

.avatar {
  height: 30px;
  width: 30px;
  background-color: #afafaf;
  border-radius: 50%;
  margin: 8px;
}

.postedCommentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.nameText {
  width: 70%;
  display: inline-block;
}

.dateText {
  width: 30%;
  display: inline-block;
}

.textContainer {
  width: 75%;
}

.nextVidTitle {
  color: #afafaf;
  margin-left: 16px;
  font-weight: 600;
}

.nextVideos {
  margin: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.videoCardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 125px;
  width: 100%;
}

.videoCardImage {
  height: 60%;
  width: 50%;
  border-radius: 5px;
  display: inline;
  margin-right: 16px;
}

.videoCardText {
  width: 42.5%;
}
.videoCardText .videoCardTitle {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 600;
}
.videoCardText .videoCardChannel {
  margin: 0;
  color: #afafaf;
}

@media (min-width: 768px) and (max-width: 1279px) {
  html {
    font-size: 14px;
  }

  .mohan {
    display: none;
  }

  .antiMohan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 36px;
    height: 36px;
  }

  .headerSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0 32px;
  }
  .headerSection .searchSectionContainer {
    width: 35%;
  }
  .headerSection .searchSectionContainer .searchSection {
    margin: 0;
  }
  .headerSection .uploaderContainer {
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .headerSection .uploader {
    width: 75%;
  }

  .videoSection {
    margin: 0 32px;
  }

  .bigContainer {
    margin: 0 32px;
    padding: 0;
  }

  .videoDescriptionSection {
    margin: 0 32px;
  }

  .dateAndAuthor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: row wrap;
        flex-wrap: row wrap;
    width: 45%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .date,
.author {
    width: 50%;
  }

  .viewsAndLikes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: row wrap;
        flex-wrap: row wrap;
    width: 50%;
  }

  .newCommentSectionContainer {
    width: 90%;
    margin: 0;
  }

  .avatar {
    margin-left: 0;
  }

  .newCommentSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    margin: 0;
  }

  .labelAndText {
    display: inline-block;
    width: 62.5%;
  }

  .textBox {
    height: 32px;
    width: 100%;
  }

  .buttonContainer {
    width: 30%;
  }
  .buttonContainer .commentButton {
    width: 100%;
    margin-top: 16px;
  }

  .commentSection {
    margin: 32px;
  }

  .newCommentSection {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 32px;
  }
  .newCommentSection .imageContainer {
    width: 10%;
  }

  .textForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .commentSection .avatarContainer {
    width: 10%;
  }
  .commentSection .avatarContainer .avatar {
    width: 36px;
    height: 36px;
    margin-right: 0px;
  }
  .commentSection .textContainer {
    width: 85%;
  }
  .commentSection .textContainer .nameText {
    width: 85%;
  }
  .commentSection .textContainer .dateText {
    width: 15%;
  }

  .nextVidTitle {
    width: 50%;
    margin-left: 32px;
  }

  .videoCardContainer {
    margin: 0 32px;
  }
  .videoCardContainer .nextVideos {
    margin: 0;
  }
  .videoCardContainer .videoCardImage {
    width: 20%;
  }
  .videoCardContainer .videoCardText {
    width: 30%;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 14px;
  }

  .mohan {
    display: none;
  }

  .antiMohan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 36px;
    height: 36px;
  }

  .logoContainer {
    width: 35%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 80px;
  }

  .headerSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0 32px;
  }
  .headerSection .searchSectionContainer {
    width: 30%;
  }
  .headerSection .searchSectionContainer .searchSection {
    margin: 0;
  }
  .headerSection .uploaderContainer {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerSection .uploader {
    width: 65%;
    height: 55%;
  }

  .videoSection {
    margin: 0 32px;
  }

  .bigContainer {
    margin: 0 0 0 80px;
    padding: 0;
    width: 90%;
    display: inline-block;
  }

  .videoDescriptionSection {
    margin: 0 0 0 80px;
    width: 90%;
  }

  .date,
.author {
    width: 50%;
    display: inline;
  }

  .viewsAndLikes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: row wrap;
        flex-wrap: row wrap;
    width: 45%;
  }

  .dateAndAuthor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: row wrap;
        flex-wrap: row wrap;
    width: 45%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .newCommentSectionContainer {
    width: 90%;
    margin: 0;
  }

  .avatar {
    margin-left: 0;
  }

  .newCommentSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    margin: 0;
  }

  .labelAndText {
    display: inline-block;
    width: 62.5%;
  }

  .textBox {
    height: 32px;
    width: 100%;
  }

  .buttonContainer {
    width: 30%;
  }
  .buttonContainer .commentButton {
    width: 100%;
    margin-top: 16px;
  }

  .commentSection {
    margin: 32px;
  }

  .newCommentSectionContainer {
    margin: 0;
    width: 85%;
  }

  .newCommentSection {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 0 80px;
    width: 100%;
  }
  .newCommentSection .imageContainer {
    width: 10%;
  }

  .textForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .commentSection {
    width: 90%;
    margin: 36px 0 0 80px;
  }
  .commentSection .avatarContainer {
    width: 10%;
  }
  .commentSection .avatarContainer .avatar {
    width: 36px;
    height: 36px;
    margin-right: 0px;
  }
  .commentSection .textContainer {
    width: 90%;
  }
  .commentSection .textContainer .nameText {
    width: 85%;
  }
  .commentSection .textContainer .dateText {
    width: 15%;
  }
  .commentSection .postedCommentBox {
    width: 100%;
  }

  .leftDivider {
    width: 65%;
  }

  .grandDivider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .grandVideoContainer {
    width: 25%;
    display: inline-block;
    margin-right: 80px;
    border-left: #afafaf solid 1px;
    padding: 16px;
  }
}/*# sourceMappingURL=App.css.map */