//Variables and Miscellaneous Stylistic Junk
$Brain-Flix-Black: #323232;
$Brain-Flix-Dark-Black: #000000;
$Brain-Flix-Blue: #0095ff;
$Brain-Flix-Dark-Blue: #0065ad;
$Silver: #afafaf;
$Mercury: #e1e1e1;
$White: #ffffff;
$Alabaster: #fafafa;
//Screen-Sizes
$tablet-lower: 768px;
$tablet-higher: 1279px;
$desktop-lower: 1280px;

html {
  font-family: Avenir Next;
  color: $Brain-Flix-Black;
  font-size: 13px;
}
//Component Styling

//Header Elements
.logoContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 16px;
}
.searchSectionContainer {
  display: flex;
  flex-flow: row wrap;
  height: 80px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  .searchSection {
    display: flex;
    flex-direction: row;
    border: solid 1px $Silver;
    width: 75%;
    margin: 16px 0 16px 16px;
    padding: 8px;
    .searchBar {
      border: none;
      outline: none;
      margin: 0;
    }
  }
}
.mohan {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 8px;
}
.antiMohan {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 8px;
  display: none;
}

.uploader {
  display: flex;
  flex-flow: row wrap;
  background-color: $Brain-Flix-Blue;
  border: $Brain-Flix-Blue;
  width: 75%;
  border-radius: 5px;
  height: 32px;
  display: flex;
  align-content: center;
  color: $White;
  margin: 0 auto;
  .uploaderContent {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;
    width: 75%;
    font-weight: 600;
  }
}
.uploader:hover {
  background-color: $Brain-Flix-Dark-Blue;
}

.playerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #323232;
  margin: 8px;
  border-radius: 5px;
}
//Video Controls

//Video Display
.videoSection {
  display: flex;
  flex-direction: column wrap;
  justify-content: center;
  align-content: center;
  margin: 16px;
}
//Video Info, Description, etc.
.bigContainer {
  padding: 0 16px 0 16px;
}
.videoDisplay {
  height: 100%;
  width: 100%;
}
.videoTitle {
  margin: 24px 0 16px 0;
  font-size: 24px;
  font-weight: 600;
}
.videoInfo {
  display: flex;
  flex-direction: row wrap;
  margin: 16px 0;
  .dateAndAuthor {
    width: 50%;
    .date {
      margin: 0;
      color: $Silver;
    }
    .author {
      margin: 0;
      font-weight: 600;
    }
  }
  .viewsAndLikes {
    width: 50%;
  }
  .viewContainer {
    width: 100%;
    .views {
      width: 70%;
      margin: 0 0 0 16px;
      display: inline-block;
      color: $Silver;
    }
  }
  .likeContainer {
    width: 100%;
    .likes {
      width: 70%;
      margin: 0 0 0 16px;
      display: inline-block;
      color: $Silver;
    }
  }
}
.icon {
  width: 16px;
}
.videoDescriptionSection {
  margin: 16px;
}
.videoDescription {
  margin: 0;
  text-align: justify;
  p {
    margin: 0;
  }
}
.amountOfComments {
  margin: 16px 0;
  font-weight: 700;
}
//New Comment Section
.newCommentSectionContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 16px;
}
.newCommentSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
form {
  display: inline-block;
  width: 80%;
}
label {
  color: $Silver;
  margin: 16px 0;
  size: 12px;
  font-family: Avenir Next;
}
.imageContainer {
  display: inline-block;
  width: 20%;
  // padding: 16px;
}
.buttonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.textBox {
  width: 97.5%;
  height: 100px;
  font-family: Avenir Next;
  border-color: $Silver;
  border-radius: 5px;
}

.commentButton {
  background-image: url("../../src/assets/icons/add_comment.svg");
  background-repeat: no-repeat;
  background-position: 16px;
  width: 100%;
  background-color: $Brain-Flix-Blue;
  color: $White;
  border: $Brain-Flix-Blue;
  border-radius: 5px;
  padding: 8px;
  font-weight: 400;
}
.commentButton:hover {
  background-color: $Brain-Flix-Dark-Blue;
}
//Posted Comments
.commentSection {
  margin: 16px;
}
.avatarContainer {
  width: 25%;
}
.avatar {
  height: 30px;
  width: 30px;
  background-color: $Silver;
  border-radius: 50%;
  margin: 8px;
}
.postedCommentBox {
  display: flex;
  flex-flow: row wrap;
  margin-left: 16px;
}
.nameText {
  width: 70%;
  display: inline-block;
}
.dateText {
  width: 30%;
  display: inline-block;
}
.textContainer {
  width: 75%;
}
//Next Video Section Styles
.nextVidTitle {
  color: $Silver;
  margin-left: 16px;
  font-weight: 600;
}
.nextVideos {
  margin: 16px;
  display: flex;
  flex-flow: column wrap;
}
.videoCardContainer {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  height: 125px;
  width: 100%;
}
.videoCardImage {
  height: 60%;
  width: 50%;
  border-radius: 5px;
  display: inline;
  margin-right: 16px;
}
.videoCardText {
  width: 42.5%;
  .videoCardTitle {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 600;
  }
  .videoCardChannel {
    margin: 0;
    color: $Silver;
  }
}
//Tablet Styles
@media (min-width: $tablet-lower) and (max-width: $tablet-higher) {
  //Generals
  html {
    font-size: 14px;
  }
  .mohan {
    display: none;
  }
  .antiMohan {
    display: flex;
    margin: 0;
    width: 36px;
    height: 36px;
  }
  //Header Section
  .headerSection {
    display: flex;
    flex-flow: row wrap;
    margin: 0 32px;
    .searchSectionContainer {
      width: 35%;
      .searchSection {
        margin: 0;
      }
    }
    .uploaderContainer {
      width: 35%;
      display: flex;
      flex-flow: row wrap;
      align-content: center;
    }
    .uploader {
      width: 75%;
    }
  }
  // Video Section Styles
  .videoSection {
    margin: 0 32px;
  }
  .bigContainer {
    margin: 0 32px;
    padding: 0;
  }
  .videoDescriptionSection {
    margin: 0 32px;
  }
  .dateAndAuthor {
    display: flex;
    flex-wrap: row wrap;
    width: 45%;
    justify-content: space-between;
  }
  .date,
  .author {
    width: 50%;
  }
  .viewsAndLikes {
    display: flex;
    flex-wrap: row wrap;
    width: 50%;
  }
  //New Comment Styles
  .newCommentSectionContainer {
    width: 90%;
    margin: 0;
  }
  .avatar {
    margin-left: 0;
  }
  .newCommentSection {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 100%;
    margin: 0;
  }
  .labelAndText {
    display: inline-block;
    width: 62.5%;
  }
  .textBox {
    height: 32px;
    width: 100%;
  }

  .buttonContainer {
    width: 30%;
    .commentButton {
      width: 100%;
      margin-top: 16px;
    }
  }

  //Comment Section Styles
  .commentSection {
    margin: 32px;
  }
  .newCommentSection {
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 32px;
    .imageContainer {
      width: 10%;
    }
  }
  .textForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .avatarContainer {
    width: 10%;
    .avatar {
      width: 36px;
      height: 36px;
      margin-right: 0px;
    }
  }
  .textContainer {
    width: 85%;
    .nameText {
      width: 85%;
    }
    .dateText {
      width: 15%;
    }
  }
  //Next Video Section Styles
  .nextVidTitle {
    width: 50%;
    margin-left: 32px;
  }
  .videoCardContainer {
    margin: 0 32px;
    .nextVideos {
      margin: 0;
    }
    .videoCardImage {
      width: 20%;
    }
    .videoCardText {
      width: 30%;
    }
  }
}
@media (min-width: $desktop-lower) {
  //Header Elements Styling (Basically the same as tablet with slight alterations)
  html {
    font-size: 14px;
  }
  .mohan {
    display: none;
  }
  .antiMohan {
    display: flex;
    margin: 0;
    width: 36px;
    height: 36px;
  }
  //Header Section
  .logoContainer {
    width: 35%;
    justify-content: flex-start;
    padding-left: 80px;
  }
  .headerSection {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    .searchSectionContainer {
      width: 30%;
      .searchSection {
        margin: 0;
      }
    }
    .uploaderContainer {
      width: 20%;
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      align-items: center;
    }
    .uploader {
      width: 65%;
      height: 55%;
    }
  }
  // Video Section Styles
  .videoSection {
    margin: 0 32px;
  }
  .bigContainer {
    margin: 0 0 0 80px;
    padding: 0;
    width: 90%;
    display: inline-block;
  }
  .videoDescriptionSection {
    margin: 0 0 0 80px;
    width: 90%;
  }

  .date,
  .author {
    width: 50%;
    display: inline;
  }
  .viewsAndLikes {
    display: flex;
    flex-wrap: row wrap;
    width: 45%;
  }
  .dateAndAuthor {
    display: flex;
    flex-wrap: row wrap;
    width: 45%;
    justify-content: space-between;
  }
  //New Comment Styles
  .newCommentSectionContainer {
    width: 90%;
    margin: 0;
  }
  .avatar {
    margin-left: 0;
  }
  .newCommentSection {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 100%;
    margin: 0;
  }
  .labelAndText {
    display: inline-block;
    width: 62.5%;
  }
  .textBox {
    height: 32px;
    width: 100%;
  }
  .buttonContainer {
    width: 30%;
    .commentButton {
      width: 100%;
      margin-top: 16px;
    }
  }
  //Comment Section Styles

  .newCommentSectionContainer {
    margin: 0;
    width: 85%;
  }
  .newCommentSection {
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 0 0 0 80px;
    width: 100%;
    .imageContainer {
      width: 10%;
    }
  }
  .textForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .avatarContainer {
    width: 10%;
    .avatar {
      width: 36px;
      height: 36px;
      margin-right: 0px;
    }
  }
  .postedCommentBox {
    width: 90%;
    margin-left: 80px;
  }
  .textContainer {
    width: 90%;
    .nameText {
      width: 85%;
    }
    .dateText {
      width: 15%;
    }
  }

  //Next Video Section
  .leftDivider {
    width: 65%;
  }
  .grandDivider {
    display: flex;
    flex-direction: row wrap;
  }
  .grandVideoContainer {
    width: 25%;
    display: inline-block;
    border-left: $Silver solid 1px;
    padding: 16px;
    margin-right: 0;
  }
}
