html {
  font-family: AvenirNext;
  color: #323232;
}

.logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
}

.searchSectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 80px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.searchSectionContainer .searchSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: solid 1px #afafaf;
  width: 75%;
  margin: 16px;
  padding: 8px;
}
.searchSectionContainer .searchSection .searchBar {
  border: none;
  outline: none;
  margin: 0;
}

.mojahed {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.uploader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #0095ff;
  width: 75%;
  border-radius: 5px;
  height: 32px;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #ffffff;
  margin: 0 auto;
}
.uploader .uploaderContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 75%;
  font-weight: 600;
}

.videoSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column wrap;
          flex-direction: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 16px;
}

.bigContainer {
  padding: 0 16px 0 16px;
}

.videoDisplay {
  height: 100%;
  width: 100%;
}

.videoTitle {
  margin: 0 0 16px 0;
  font-size: 16pt;
  font-weight: 600;
}

.videoInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  margin: 16px 0;
}
.videoInfo .dateAndAuthor {
  width: 50%;
}
.videoInfo .dateAndAuthor .date {
  margin: 0;
}
.videoInfo .dateAndAuthor .author {
  margin: 0;
}
.videoInfo .viewsAndLikes {
  width: 50%;
}
.videoInfo .viewContainer {
  width: 100%;
}
.videoInfo .viewContainer .views {
  width: 70%;
  margin: 0 0 0 16px;
  display: inline-block;
}
.videoInfo .likeContainer {
  width: 100%;
}
.videoInfo .likeContainer .likes {
  width: 70%;
  margin: 0 0 0 16px;
  display: inline-block;
}

.icon {
  width: 16px;
}

.videoDescription {
  padding: 0 16px 0 16px;
}
.videoDescription p {
  margin: 0;
}/*# sourceMappingURL=App.css.map */