//Variables and Miscellaneous Stylistic Junk
$Brain-Flix-Black: #323232;
$Brain-Flix-Dark-Black: #000000;
$Brain-Flix-Blue: #0095ff;
$Brain-Flix-Dark-Blue: #0065ad;
$Silver: #afafaf;
$Mercury: #e1e1e1;
$White: #ffffff;
$Alabaster: #fafafa;
//Screen-Sizes
$tablet-lower: 768px;
$tablet-higher: 1279px;
$desktop-lower: 1280px;

@media (min-width: $desktop-lower) {
  //Header Elements Styling (Basically the same as tablet with slight alterations)
  html {
    font-size: 14px;
  }
  .mohan {
    display: none;
  }
  .antiMohan {
    display: flex;
    margin: 0;
    width: 36px;
    height: 36px;
  }
  //Header Section
  .logoLink {
    display: flex;
    align-items: center;
    width: 15%;
    padding: 0 0 0 80px;
  }
  .logoContainer {
    width: 35%;
    justify-content: flex-start;
    padding: 0;
  }
  .headerSection {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    .searchSectionContainer {
      width: 55%;
      .searchSection {
        margin: 0;
      }
    }
    .uploadLink {
      width: 20%;
      display: flex;
      align-items: center;
      text-decoration: none;
    }
    .uploaderContainer {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      align-items: center;
    }
    .uploader {
      width: 65%;
      height: 55%;
    }
  }
  // Video Section Styles
  .videoSection {
    margin: 0;
  }
  .bigContainer {
    margin: 0 0 0 80px;
    padding: 0;
    width: 90%;
    display: inline-block;
  }
  .videoDescriptionSection {
    margin: 0 0 0 80px;
    width: 90%;
  }

  .date,
  .author {
    width: 50%;
    display: inline;
  }
  .viewsAndLikes {
    display: flex;
    flex-wrap: row wrap;
    width: 45%;
  }
  .dateAndAuthor {
    display: flex;
    flex-wrap: row wrap;
    width: 45%;
    justify-content: space-between;
  }
  //New Comment Styles
  .newCommentSectionContainer {
    width: 90%;
    margin: 0;
  }
  .avatar {
    margin-left: 0;
  }
  .newCommentSection {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 100%;
    margin: 0;
  }
  .labelAndText {
    display: inline-block;
    width: 62.5%;
  }
  .textBox {
    height: 32px;
    width: 100%;
  }
  .buttonContainer {
    width: 30%;
    .commentButton {
      width: 100%;
      margin-top: 16px;
    }
  }
  //Comment Section Styles

  .newCommentSectionContainer {
    margin: 0;
    width: 85%;
  }
  .newCommentSection {
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 0 0 0 80px;
    width: 100%;
    .imageContainer {
      width: 10%;
    }
  }
  .textForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .avatarContainer {
    width: 10%;
    .avatar {
      width: 36px;
      height: 36px;
      margin-right: 0px;
    }
  }
  .postedCommentBox {
    width: 90%;
    margin-left: 80px;
  }
  .textContainer {
    width: 90%;
    .nameText {
      width: 85%;
    }
    .dateText {
      width: 15%;
    }
  }

  //Next Video Section
  .leftDivider {
    width: 65%;
  }
  .grandDivider {
    display: flex;
    flex-direction: row wrap;
  }
  .grandVideoContainer {
    width: 25%;
    display: inline-block;
    border-left: $Silver solid 1px;
    padding: 16px;
    margin: 0;
  }
  //Uploader Page
  .uploaderPage {
    margin: 0 80px;
  }
  .uploadPageDivider {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
  }
  .videoUploadContainer {
    width: 30%;
    margin-right: 24px;
  }

  .uploadTitle {
    font-size: 32px;
    font-weight: 700;
    border-bottom: 1px solid $Silver;
    padding: 32px 0 32px 0;
    border-top: 1px solid $Silver;
    margin-top: 0;
  }
  .uploaderImageContainer {
    width: 100%;
  }
  .uploadForm {
    width: 65%;
    display: flex;
    flex-flow: column wrap;
  }
  .publishButton {
    margin: 0;
  }
  .descriptionInput {
    height: 76px;
  }
  .bottomButtonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 32px 0;
    border-top: 1px solid $Silver;
    padding-top: 32px;
    .buttons {
      width: 15%;
    }
    .cancelButton {
      margin: 0;
    }
  }
}
