//Variables and Miscellaneous Stylistic Junk
$Brain-Flix-Black: #323232;
$Brain-Flix-Dark-Black: #000000;
$Brain-Flix-Blue: #0095ff;
$Brain-Flix-Dark-Blue: #0065ad;
$Silver: #afafaf;
$Mercury: #e1e1e1;
$White: #ffffff;
$Alabaster: #fafafa;
//Screen-Sizes
$tablet-lower: 768px;
$tablet-higher: 1279px;
$desktop-lower: 1280px;

html {
  font-family: Avenir Next;
  color: $Brain-Flix-Black;
  font-size: 13px;
}
.publishButton:hover {
  background-color: $Brain-Flix-Dark-Blue;
}
.cancelButton:hover {
  background-color: $Silver;
}
.logoContainer:hover {
  background-color: $Silver;
}
.titleInput {
  resize: none;
  background-color: #fafafa;
  font-family: "Avenir Next";
  border-color: #afafaf;
  border-radius: 5px;
}
